html, body {
  margin: 0;
  padding: 0;
  background:#53535c;
}
canvas {
  padding-top:20px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:10px;
  display: block;
  margin: auto;
}

h1 {
  color:#b5b5c9;
  font-size:60px;
  text-align: center;
  font-family: "Silkscreen", sans-serif;
  font-weight: 500;
  font-style: normal;
}

p {
  font-size:20px;
  color:#f2f2f7;
  text-align: center;
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}


